.pic1{
    height: 20px;
    width: 24px;
   margin-bottom: 0.31rem;
}

.first-flex{
    background-color: #3498db;
    color: #f0f8ff;
    text-align: center;
    padding: 1em;
}

.first-flex h1{
    font-size: 50px;
    padding: 0.5em 0.5em 0.25rem 0.5em;
}

.first-flex p{
    font-size: 20px;
    padding-bottom: 1rem;
}

.second-flex{
    background-color:#2ecc71;
    color: #f0f8ff;
}

.row{
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
}

.common-for-carousal{
    padding:6rem 3rem 6rem 3rem;
}

.carousel-item{

    font-size: 35px;
}