.pic1{
    height: 20px;
    width: 24px;
   margin-bottom: 0.31rem;
}

.first-flex{
    background-color: #3498db;
    color: aliceblue;
    text-align: center;
    padding: 1em;
}

.first-flex h1{
    font-size: 50px;
    padding: 0.5em 0.5em 0.25rem 0.5em;
}

.first-flex p{
    font-size: 20px;
    padding-bottom: 1rem;
}